# Project 1

Background
The quality of the wine is classified into three categories: poor, average and good.

Objective
The goal of this study is to develop a machine learning model that can predict the quality of wine based on various physicochemical properties such as acidity, alcohol content, pH, and sulfur dioxide levels.

In [5]:
#Read & view dataset
#Read the dataset dataset8 wine_quality type 1_with_missing.csv into Python and store it into a dataframe.
#Display the first 5 rows.

import pandas as pd

rawData = "dataset8 wine_quality type 1_with_missing.csv"
#db_wineQualityType = pd.read_csv(rawData)
rawData = pd.read_csv(rawData, dtype={'remaining_lease': 'string'})
#db_wineQualityType = pd.read_csv(rawData, low_memory=False)
display(rawData.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.915954,0.486809,0.282607,4.924713,0.063681,38.579770,164.420230,0.994645,3.200000,0.417101,9.331908,average
1,NaN,0.440000,0.040000,1.400000,0.036000,43.000000,119.000000,0.989400,3.360000,0.330000,12.100000,good
2,7.300000,0.250000,0.360000,13.100000,0.050000,35.000000,200.000000,0.998600,3.040000,0.460000,8.900000,good
3,6.031122,0.258520,0.247704,1.926277,0.040770,9.114797,108.885203,0.992846,3.102959,0.535408,9.114797,average
4,6.200000,0.250000,0.250000,1.400000,0.030000,35.000000,105.000000,0.991200,3.300000,0.440000,11.100000,good

In [6]:
# Check type of quality
variables_list = rawData['quality'].unique().tolist()

print("Variables in 'quality':", variables_list)

Variables in 'quality': ['average', 'good', 'poor']

In [10]:
# Re-arrange quality column as first column
cols = ['quality'] + [col for col in rawData.columns if col !='quality']
rawData = rawData[cols]
rawData.tail(10)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
4075,good,7.900000,0.170000,0.320000,1.600000,0.053000,47.000000,150.000000,0.994800,3.290000,0.760000,9.600000
4076,poor,7.641048,0.633526,0.456763,10.664738,0.212602,35.751365,229.913210,0.998122,2.921790,0.712486,9.132369
4077,poor,6.234752,0.341773,0.294681,7.469504,0.079014,30.432632,196.737594,0.996948,3.401418,0.650922,9.269504
4078,poor,9.024467,0.353877,0.402855,8.969343,0.037592,4.204088,83.408175,0.994712,2.969594,0.320409,10.385723
4079,average,7.400000,0.270000,0.260000,11.800000,0.053000,55.000000,173.000000,0.996990,3.110000,0.600000,9.800000
4080,average,6.741735,0.576874,0.278952,1.183470,0.037609,5.860884,61.860884,0.993177,3.362701,0.335303,10.400000
4081,good,6.000000,0.240000,0.330000,2.500000,0.026000,31.000000,85.000000,0.990140,3.130000,0.500000,11.300000
4082,average,7.997735,0.342518,0.243592,3.007638,0.053191,39.000000,134.923624,0.995134,3.188091,0.469392,9.500000
4083,good,7.800000,0.160000,0.410000,1.700000,0.026000,29.000000,140.000000,0.991000,3.020000,0.780000,12.500000
4084,good,7.283680,0.220712,0.299080,1.416320,0.051490,24.836800,105.000000,0.992569,3.316440,0.555312,10.890800

In [12]:
# Number of occurrence of each quality
num_quality = rawData['quality'].value_counts()

print(num_quality)

quality
good       1623
poor       1238
average    1224
Name: count, dtype: int64

In [14]:
# Display all rows that contain NaN in their column
rawData.isnull()
rows_with_nulls = rawData[rawData.isnull().any(axis=1)]
rows_with_nulls.tail(5)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
4006,poor,NaN,0.199062,0.329297,1.772661,0.049695,28.210951,177.835927,0.99543,3.167266,0.430234,9.0
4015,average,6.2,0.440000,NaN,7.700000,0.096000,28.000000,210.000000,0.99771,3.560000,0.720000,9.2
4017,average,7.1,0.280000,NaN,7.800000,0.040000,48.000000,184.000000,0.99579,3.160000,0.500000,9.4
4028,good,6.0,0.280000,0.270000,15.500000,0.036000,31.000000,134.000000,0.99408,NaN,0.440000,13.0
4049,good,8.2,0.180000,NaN,1.100000,0.040000,41.000000,92.000000,0.99062,2.880000,0.600000,12.0

In [25]:
# # Number of NaN values in each column
# print("NaN values in each column\n")
# for col in rawData.columns:
#     print(rawData.iloc[:, col].name, ":", rawData.iloc[:, col].isnull().sum(axis=0))

# Loop through all column and find which contain NaN
print("NaN values in columns")
for col in rawData.columns:
    num_nulls = rawData[col].isnull().sum()
    if num_nulls > 0:
        print(f"{col}: {num_nulls}")

NaN values in columns
fixed acidity: 82
citric acid: 204
pH: 41

In [30]:
# Calculate mean|median|standard deviation with groupby quality type
import pandas as pd

# Group by quality and calculate mean, median, std for all numeric columns
wine_statistics = rawData.groupby('quality').agg(['mean', 'median', 'std']).round(2)

# Transpose so features are rows
wine_statistics_T = wine_statistics.T

# # Reset index
# wine_statistics_T = wine_statistics_T.reset_index()
# wine_statistics_T.columns = ['feature', 'stat'] + list(wine_statistics_T.columns[2:])

# # Display the table
# print(wine_statistics_T)

# # Display the table with segregation between each feature
# for feature in wine_statistics_T.index.levels[0]:
#     stats = wine_statistics_T.loc[feature]
#     print(f"Feature: {feature}")
#     print(stats)
#     print() # blank line after each feature

# Display the table by loop
for feature in wine_statistics_T.index.levels[0]:
    stats = wine_statistics_T.loc[feature]
    # Reset index so row headers become column headers
    stats_reset = stats.reset_index()
    stats_reset.columns = ['Stat'] + list(stats_reset.columns[1:])

    print(f"Feature: {feature}")
    from tabulate import tabulate
    print(tabulate(stats_reset, headers='keys', tablefmt='psql', stralign='left', numalign='left'))

Feature: fixed acidity
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 6.91      | 6.8    | 7.12   |
| 1  | median | 6.8       | 6.8    | 6.92   |
| 2  | std    | 0.75      | 0.79   | 1.03   |
+----+--------+-----------+--------+--------+
Feature: volatile acidity
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 0.3       | 0.26   | 0.36   |
| 1  | median | 0.29      | 0.25   | 0.32   |
| 2  | std    | 0.09      | 0.09   | 0.14   |
+----+--------+-----------+--------+--------+
Feature: citric acid
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 0.34      | 0.33   | 0.31   |
| 1  | median | 0.32      | 0.32   | 0.3    |
| 2  | std    | 0.12      | 0.11   | 0.15   |
+----+--------+-----------+--------+--------+
Feature: residual sugar
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 7.56      | 6.09   | 5.06   |
| 1  | median | 7.33      | 4.67   | 3.44   |
| 2  | std    | 5.28      | 5.07   | 4.19   |
+----+--------+-----------+--------+--------+
Feature: chlorides
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 0.05      | 0.04   | 0.05   |
| 1  | median | 0.05      | 0.04   | 0.05   |
| 2  | std    | 0.02      | 0.02   | 0.02   |
+----+--------+-----------+--------+--------+
Feature: free sulfur dioxide
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 37.8      | 35.72  | 26.81  |
| 1  | median | 37.12     | 34     | 21.14  |
| 2  | std    | 18        | 15.26  | 26.76  |
+----+--------+-----------+--------+--------+
Feature: total sulfur dioxide
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 155.09    | 133.57 | 135.51 |
| 1  | median | 156.31    | 128.96 | 124.09 |
| 2  | std    | 42.96     | 38.02  | 56.69  |
+----+--------+-----------+--------+--------+
Feature: density
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 1         | 0.99   | 0.99   |
| 1  | median | 1         | 0.99   | 0.99   |
| 2  | std    | 0         | 0      | 0      |
+----+--------+-----------+--------+--------+
Feature: pH
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 3.17      | 3.2    | 3.18   |
| 1  | median | 3.16      | 3.19   | 3.16   |
| 2  | std    | 0.13      | 0.15   | 0.14   |
+----+--------+-----------+--------+--------+
Feature: sulphates
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 0.48      | 0.5    | 0.49   |
| 1  | median | 0.47      | 0.48   | 0.48   |
| 2  | std    | 0.09      | 0.12   | 0.1    |
+----+--------+-----------+--------+--------+
Feature: alcohol
+----+--------+-----------+--------+--------+
|    | Stat   | average   | good   | poor   |
|----+--------+-----------+--------+--------|
| 0  | mean   | 9.76      | 10.87  | 10.04  |
| 1  | median | 9.5       | 10.9   | 10     |
| 2  | std    | 0.78      | 1.23   | 0.81   |
+----+--------+-----------+--------+--------+

In [21]:
import pandas as pd
import os

# Columns with NaN
cols_with_nan = ['fixed acidity', 'citric acid', 'pH']

# DataFrames with different imputations
db_wineMean = rawData.copy()
db_wineMedian = rawData.copy()
db_wineStd = rawData.copy()

# Apply imputations
for col in cols_with_nan:
    db_wineMean[col] = db_wineMean.groupby('quality')[col].transform(lambda x: x.fillna(x.mean()))
    db_wineMedian[col] = db_wineMedian.groupby('quality')[col].transform(lambda x: x.fillna(x.median()))
    db_wineStd[col] = db_wineStd.groupby('quality')[col].transform(lambda x: x.fillna(x.std()))

# Store DataFrames and names in a dictionary for looping
imputed_dfs = {
    "Mean": db_wineMean,
    "Median": db_wineMedian,
    "Std": db_wineStd
}

# Loop to check NaNs
print("Check if NaN still exists.\n")
for name, df in imputed_dfs.items():
    print(f"{name} imputation NaN:")
    print(df[cols_with_nan].isna().sum())
    print()

    # File path to be saved
    file_name = f"wine_imputed_{name}.csv"
    # Create new file or overwrite if existed
    if os.path.exists(file_name):
        print(f"File {file_name} already existed and was overwritten.\n")
    else:
        print(f"File {file_name} created.\n")

Check if NaN still exists.

Mean imputation NaNs:
fixed acidity    0
citric acid      0
pH               0
dtype: int64

File wine_imputed_Mean.csv created.

Median imputation NaNs:
fixed acidity    0
citric acid      0
pH               0
dtype: int64

File wine_imputed_Median.csv created.

Std imputation NaNs:
fixed acidity    0
citric acid      0
pH               0
dtype: int64

File wine_imputed_Std.csv created.

In [38]:
import pandas as pd
cleanData = "wine_imputed_Mean.csv"
db_wine = pd.read_csv(cleanData)
display(db_wine.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.915954,0.486809,0.282607,4.924713,0.063681,38.579770,164.420230,0.994645,3.200000,0.417101,9.331908,average
1,6.800000,0.440000,0.040000,1.400000,0.036000,43.000000,119.000000,0.989400,3.360000,0.330000,12.100000,good
2,7.300000,0.250000,0.360000,13.100000,0.050000,35.000000,200.000000,0.998600,3.040000,0.460000,8.900000,good
3,6.031122,0.258520,0.247704,1.926277,0.040770,9.114797,108.885203,0.992846,3.102959,0.535408,9.114797,average
4,6.200000,0.250000,0.250000,1.400000,0.030000,35.000000,105.000000,0.991200,3.300000,0.440000,11.100000,good

In [12]:
# Number of occurance of each quality after replace NaN with mean of its respective feature
num_quality_mean = db_wineMean['quality'].value_counts()

print(num_quality_mean)

print("Compare to")
print(num_quality)

quality
good       1623
poor       1238
average    1224
Name: count, dtype: int64
Compare to
quality
good       1623
poor       1238
average    1224
Name: count, dtype: int64